@charset "UTF-8";
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url(kanale_background.jpg);
            background-attachment: fixed;
            margin: 0px;
            padding: 0px;            
            }
        a {
            color: black;
            text-decoration: none;
            font-family: sans-serif;
        }
        a:hover {
            background: rgba(0, 0, 0, 0.178);    
        }
        #logo {
            font-size: 1.5rem;
            font-weight: bold;
        }
        header {            
            box-sizing: border-box;
            height: 203px;
            padding: 1rem;
            padding-right: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-image: url(kanale_background.jpg);
        }
        nav {
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
        }
        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            text-align: center;
            text-indent: 0px;
            font-size: 20px;
            padding-left: 20px;
        }
        h2 {
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
            font-weight: lighter;
            text-indent: 0px;
            font-size: 18px;
        }
        p#mk {
            font-size: 13px;
        }
        main {
            text-align: center;
            padding: 10px;
            margin: 10px;
            
        }
        article {
            background-color: lightgray;
            padding: 5px;
        }
        article > aside {
            background-color: rgb(165, 165, 165);
        }
        footer {
            background-color: rgba(0, 0, 0, 0.233);
            color: white;
            text-align: center;        
            padding: 5px;
                                
        }
        footer > p {
            margin: 0px;
            
        }
        
        h1#logo {
            text-align: center;
        }
        img#capa {
            border-radius: 15px;
        }
        table {
            margin: auto;
        }
        img#redessociais {
            max-width: 50px;
        }
        #menu {
            display: flex;
            list-style: none;
            gap: .5rem;    
        }
        
        #menu a{
            display: block;
            padding: .5rem;
        }
        
        #btn-mobile{
            display: none;
        }
        
        @media (max-width: 650px) {
            
            #menu {
                display: block;
                position: absolute;
                width: 40%;
                top: 100px;
                left: 0px;
                background: #e7e7e7c2;
                height: 0px;        
                transition: .6s;
                z-index: 1000;
                visibility: hidden;
                overflow-y: hidden;
            }
            #nav.active #menu {
                height: calc(100vh - 70px);        
                visibility: visible;
                overflow-y: auto;
            }
        
            #menu a {
                padding: 1rem 0;
                margin: 0 1rem;
                border-bottom: 2px solid rgba(0, 0, 0, .05);
            }
            #btn-mobile {
                display: flex;
                padding: .5rem 1rem;
                font-size: 1rem;
                border: none;
                background: none;
                cursor: pointer;
                gap: .5rem;
            }
            #hamburguer {
                color: black;
                border-top: 2px solid;
                width: 20px;
            }
            #hamburguer::after, #hamburguer::before {
                content: '';
                display: block;
                width: 20px;
                height: 2px;
                background: currentColor;
                margin-top: 5px;
                transition: .3s;
                position: relative;
            }
            #nav.active #hamburguer {
                border-top-color: transparent;
            }
            #nav.active #hamburguer::before {
                transform: rotate(135deg);
            }
            #nav.active #hamburguer::after {
                transform: rotate(-135deg);
                top: -7px;
            }
        
        }

  
